.btr-switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}
  
.btr-switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.btr-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 17px;
}

.btr-slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
  
input:checked + .btr-slider {
    background-color: #2196F3;
}
  
input:focus + .btr-slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .btr-slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.btr-table-hints {
    margin-top: 10px;
}

.btr-table-hints > span:not(:last-child) {
    margin-right: 10px;
}

.btr-table-hints > span .color {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    vertical-align: middle;
}

.btr-table-hints > span.accessed .color {
    background-color: #00a32a;
}

.btr-table-hints > span.expired .color {
    background-color: #e53935;
}

.btr-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
.btr-table td, .btr-table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
.btr-table tr:nth-child(even) {
    background-color: #dddddd;
}

.btr-table tr.accessed:nth-child(even), .btr-table tr.accessed:nth-child(odd) {
    background-color: #00a32a;
    color: #fff;
}

.btr-table tr.expired:nth-child(even), .btr-table tr.expired:nth-child(odd) {
    background-color: #e53935;
    color: #fff;
    text-decoration: line-through;
}

.btr-table tr .btr-spinner {
    display: inline-block;
    margin-top: 6px;
    background: #fff;
    margin-left: 4px;
}

.btr-table tr .btr-spinner:after {
    background: #808080;
}

.btr-message {
    font-size: 16px;
    font-weight: 600;
}

.btr-message.btr-success {
    color: #00a32a;
}

.btr-message.btr-error {
    color: #e53935;
}

.btr-modal {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
}

.btr-modal label {
    font-weight: 700;
    margin-bottom: 10px;
}

.btr-modal input {
    margin-bottom: 20px;
}

.btr-modal .btr-submit {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btr-modal button {
    width: fit-content;
}

.btr-spinner {
    display: none;
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 18px;
    background: #808080;
    animation: infinite-spinning 1.08s linear infinite;
}

.btr-spinner:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 50%;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    margin-left: 2px;
    background: #fff;
}

@keyframes infinite-spinning {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}